[2016-12-02 00:32] Master-Foo opened #1 "Character can not run "South East""
Running "South East" does not work.

`Shift+LeftArrow+ArrowDown` or `Shift+DownArrow+RightArrow`

However, walking "South East" works just fine.

`LeftArrow+ArrowDown` or `DownArrow+RightArrow`

I'm not sure why. Discuss.

[2016-12-02 00:34] Master-Foo opened #2 "Create Character Graphics"
The images used for character animations are stolen.

Somebody make some custom animations.

No programming is necessary. Just replace the graphics in /resources/images/...

[2016-12-05 01:39] jrslagle commented on #1
Neither I nor @techwolf could replicate this bug. Maybe we should add a check for a dependency minimum version number.

[2016-12-05 01:45] Master-Foo commented on #1
I think this is an idiosyncrasy with my specific machine / keyboard. If you can't replicate, don't worry about it I'll do some further testing when I have time.

[2016-12-05 02:08] Master-Foo commented on #1
I just did a quick sanity check. When I plug a USB keyboard into my laptop, I can run south east normally. Which leads me to believe this is a hardware issue.

[2016-12-05 02:08] #1 closed

[2016-12-05 03:20] Master-Foo opened #3 "Field Suggestions for the Game's Name"

[2016-12-05 03:21] Master-Foo opened #4 "Create Unit Testing Framework"

[2016-12-05 04:11] jrslagle commented on #3
I vote Harvest Mars. But is that too close to Harvest Moon?

[2016-12-05 04:16] jrslagle opened #5 "Add a jump action"
Add a jump action with the spacebar key.

I'm also making a list of all the changes required for adding any action. That gives us something to follow when adding more actions in the future.

[2016-12-05 04:16] Master-Foo commented on #3
I wont shoot it down, but I think we can do better.

[2016-12-05 04:21] jrslagle commented on #5
General question: do you want us to pull request to your master branch?

[2016-12-05 04:24] Master-Foo opened #6 "Add a hold_item action to Avatar"
An action for holding items in the game.

This is the first action which allows us to interact with other objects in the game.

Things we need to do to make this happen:

1. Create character graphics for holding an item. (Get issue: Create Character Graphics done first)
2. Add a is_holding state to the model
3. Add animation state to view
4. issue: Make a holdable item #7
4. ??? more discussion

[2016-12-05 04:25] jrslagle commented on #3
4th Rock

Iron Age

Iron Garden

The Martians

[2016-12-05 04:26] jrslagle commented on #5
I claim this feature by the way. I'm already about half way into it.

[2016-12-05 04:28] Master-Foo commented on #5
I just added issue: Add a hold_item action to Avatar #6

We should probably work on that before adding a jump action.

I'm not saying we DON'T make a jump action. It's just that at this juncture, jumping doesn't really accomplish something useful. Meanwhile holding an object DOES do something useful so it should be prioritized over jumping.

FYI: When you are done, do a pull request. I'll check ou

[2016-12-05 04:30] Master-Foo opened #7 "Make a holdable item"
Could be a rock or something, anything. Something simple and stupid.

[2016-12-05 04:31] jrslagle commented on #5
I could likewise argue that jumping is immediately usable, while holding does nothing until there are items to hold. We'll get to both in time. I'll write holding down. But I'd rather not reverse the ~20 modifications I've already made.

[2016-12-05 04:34] Master-Foo commented on #5
What I mean is, jumping doesn't really accomplish anything. What are we jumping over? I'm not saying we don't need it. We just have other priorities. But if you really want to do this. I'm not going to twist your arm. Go for it.

[2016-12-05 04:36] Master-Foo commented on #5
BTW, not related to holding / jumping. I just did a fairly major code cleanup. You might want to update my changes to your code base.

[2016-12-05 04:37] jrslagle commented on #5
Just ran into a snag - jumping lasts for a certain amount of time and then ends. And jumping should probably disable walking and running.

Holding could end or not when letting go of the hold key.

[2016-12-05 04:38] jrslagle commented on #5
K. I'll rebase before pushing.

[2016-12-05 04:44] Master-Foo commented on #5
You will need to implement some jumping physics noteably there will need to be a z velocity that determines how high you jump. Which probably means we should revamp the current velocity mechanism in the Entity. Which is probably should be a prerequisite issue to this one. In fact... I'm going to make that issue now. You add that issue to the OP in this issue and we'll come back to this issue when

[2016-12-05 04:46] Master-Foo opened #8 "Revamp velocity system."
velocity is a 1D variable, we need to change it to allow for multiple directions. For instance jumping.

Or, add a jump_velocity to the Model.

Discuss...

---

Update:

After thinking about it, here is what we need.

position = Vector3d()
direction = Vector3d()
impulse = Vector3d()
mass = float

the velocity() method will probably have to be scrapped as well. But the idea is, that this is a more

[2016-12-05 04:47] Master-Foo commented on #5
I just added issue: Revamp velocity system. #8

[2016-12-05 05:00] Master-Foo commented on #5
FYI: Relevant to discussion. The newest revamp created a new class called AnimateEntity which now holds the logic for velocity. Things that move (like Avatar) inherit from AnimateEntity. "Dead" things, (like Tile) will inherit from InanimateEntity (Which is yet to be implemented)

[2016-12-05 05:01] Master-Foo commented on #5
Also FYI, abstract classes (classes which are always inherited), like Entity and AnimateEntity are now in their own folder called /source/abstract

[2016-12-05 05:04] jrslagle commented on #5
this merge is going to be hell. lol

[2016-12-05 05:10] Master-Foo commented on #5
This merge will either be smooth, or a valuable learning experience for you.

It occurs to me that you can probably use one of the "Run" graphics as a "jump" graphic. The one where the guy is like "Look at me I'm stretching my legs out really far"

[2016-12-05 05:11] jrslagle commented on #5
Yea, I just kept frames 0, 1, and 2 and put the interval at 0.2 seconds each.

[2016-12-05 05:43] Master-Foo commented on #3
I think we shouldn't reference Mars specifically.

The reason is, it is trivial to build a system which could represent ANY planet. Mars is just one of those possibilities. We could easily generate a scenario for Europa, Tatooine, Uranus, MYANUS.

Let's not paint ourselves into a corner just because of a name.

[2016-12-05 06:34] jrslagle commented on #5
K. I'm getting stuck trying to get MoveState from EntityModel to be accessible by AvatarView. You had been basing which animation to display by looking at the velocity. I want to use MoveState, but those constants are inside another class in EntityModel. How do I get at them??

[2016-12-05 06:44] Master-Foo commented on #5
I'll take a look at it tomorrow. I'm going to make one last commit tonight, which is adding a stupid rock to the game. Then I'm calling it quits for the night.

Push your code to your repository so I can see what you've done and I'll pick it up in the morningish

[2016-12-05 06:48] Master-Foo commented on #7
Made a stupid rock.

[2016-12-05 06:48] #7 closed

[2016-12-05 15:27] jrslagle commented on #5
Dam, I went to bed without pushing. I won't be home til late tonight. I haven't done a rebase with your reorganized code yet either, so you'd probably hate what you see anyway. Lol.

[2016-12-05 15:32] jrslagle opened #9 "Add Varied Terrain"
This requires a few prerequisites.

-reorganize code for different kinds of tiles
-pull tile types from a terrain file.
-allow editing of the terrain file (load, edit, save)

There is already art for transitions between grass and dirt somewhere in resources that would save you some art time.

[2016-12-05 15:35] jrslagle commented on #5
On passing state from model to view, there was a solution to this I read in a textbook on Android development. It seemed unnecessarily convoluted at the time and was hard to follow, but that's my next best thing to try.

[2016-12-05 16:02] jrslagle commented on #8
Velocity should be a Vector3 for sure.

[2016-12-05 16:04] jrslagle commented on #8
I was thinking about having a special free-fall boolean. When you jump, and add your initial jump velocity vector to your total velocity. While in free fall, walking, running, and other contact-with-ground actions are disabled. Free-fall ends when you collide with anything.

[2016-12-05 16:17] jrslagle commented on #8
While in free-fall, your velocity would be updated only by adding the gravity vector3 (3.711 straight down) to your velocity.

[2016-12-05 16:28] jrslagle commented on #9
I originally called this "add rock to terrain", but then realized terrain is its own thing. Woopsie!

[2016-12-05 16:34] jrslagle commented on #5
The more I think about this, the more I think we'll avoid future bugs by avoiding special move states. Otherwise you'll run into bugs like what happens when multiple actions are happening to you at once. I motion to refactor for a force diagram.

Net force on you is (gravity + normal force + friction). Anything that strikes you just gets appended to a force array and you go flying.

Thoughts?

[2016-12-05 21:22] techwulf commented on #3
Terra
Short for Terraform.

[2016-12-05 21:25] Master-Foo commented on #5
push your code and I'll take a look at it. I'm really not sure what you are talking about "passing state from model to view". view has normal and direct access to the model's data members. Just use the model state as if it were a member of the view.

[2016-12-05 21:49] Master-Foo commented on #9
Make a separate issue for each of those prerequisites. We'll discuss them in more detail there. You can link to other issues by putting a hash in front of the issue number. For instance,

Add Varied Terrain #9

links to this issue.

[2016-12-05 21:57] Master-Foo opened #10 "If an "animation" has only 1 frame, don't animate it."
As it is, all objects are animated even if there is only 1 frame in the animation. This is because I was lazy when implementing it and getting something to work was more important than making it efficient.

So, for instance, each Tile is looping though an animation despite the fact that this is rather stupid. It wastes resources. It's probably one of the reasons loading takes so long when creating

[2016-12-05 22:50] jrslagle commented on #3
Desert Rose

[2016-12-05 22:54] jrslagle commented on #3
@Master-Foo, I agree that the world parameters should be swappable for any world. But I'm pretty excited about settling / terraforming Mars in the near future. Actually I don't care which rock it is, so long as we can terraform the bitch. (mining, climate/weather modeling, open trade with floating prices, etc)

[2016-12-05 22:56] jrslagle commented on #2
I really like the idea of doing the 3D sketch up and putting a set of renders in the game. Makes the transition to 3D that much easier.

[2016-12-05 22:57] jrslagle commented on #3
@techwolf, Terra alone means Earth.

[2016-12-05 23:08] jrslagle commented on #5
Actually, I'm spending so much work trying to refactor the code to get jumping to be possible that I think I'm going to rebase with your code first and that should save me refactoring twice.

1. Rebase with Mower's refactoring.
2. Change avatar animations to be based on move state (and not an elif chain of velocities).
3. Give each action its own velocity in avatar model.
4. Get jumping to work.

[2016-12-05 23:13] Master-Foo commented on #3
I think Terra<something> is a good word to think about. It describes what the game is, at least in a general sense. So long as we aren't implying "Terra" means Earth specifically.

[2016-12-05 23:14] jrslagle commented on #8
This was posted in issue #5.

The more I think about this, the more I think we'll avoid future bugs by avoiding special move states. Otherwise you'll run into bugs like what happens when multiple actions are happening to you at once. I motion to refactor for a force diagram.

Net force on you is (gravity + normal force + friction). Anything that strikes you just gets appended to a force array and

[2016-12-05 23:16] jrslagle commented on #10
Kk. I was hoping to have animated ground tiles like the effects of wind.

But I like the idea of if 1 frame, then paint, else animate.

[2016-12-05 23:16] Master-Foo commented on #2
Yeah, I was thinking, we can start working on 3D assets now for use in the future. But in the mean time just use "Canned 3D" images as 2D sprites.

The question is, who wants to do it? Anyone who wants to tackle this task, assign themselves to this issue in the right side bar of this page.

[2016-12-05 23:19] Master-Foo commented on #5
Tackle the Revamp velocity system. #8 issue first and come back to this.

[2016-12-05 23:22] Master-Foo commented on #8
Take some time to work out the physics. The current system was a hack to get things working. So, don't be afraid to scrap what exists.

[2016-12-05 23:23] Master-Foo commented on #8
Also, I'm not sure how up-to-speed you are on vector math. But, if not, dive into it and learn.

[2016-12-05 23:23] Master-Foo commented on #8
The Vector3 classes have the methods you should need. Just know how to use them.

[2016-12-05 23:26] Master-Foo commented on #10
If we want animation for wind, we can just add additional frames to that animation. But, the fact stands. If an animation only has 1 frame, then there is no sense in animating it and incurring the wrath of additional overhead.

[2016-12-05 23:38] Master-Foo opened #11 "Expand source.interface.keyboard"
As it stands, the keyboard module only accepts input from a few keys. (Arrow keys, Shift, Escape)

add at least the letters and numbers, ctrl, alt, pgup, pgdn, home, end and symbols to the class so we can use them later.

Even if we aren't using them all, the overhead of them existing is negligible.

[2016-12-05 23:47] Master-Foo commented on #3
@jrslagle I'm not saying that "Terraforming Mars" isn't one of the goals of this project. What I'm saying is by the time we have implemented the Mars scenario, we will have already long implemented a generic way to procedurally generate a random planet.

So, from a practical perspective, this is not a Mars game. It is a "Terraform in General" game with a Mars specific scenario sometime in the futu

[2016-12-05 23:54] Master-Foo commented on #3
Hell, after we get the procedural generation done, we could even have an "Earth-like Planet with Damn-Dirty-Apes and Mother-Fucking Dinosaurs Chasing You" senario.

[2016-12-06 00:35] Master-Foo opened #12 "Fix bad magic numbers in hectare."
in Hectare.get_renderable_tiles() the variable tile_size is a magic number.

Instead, the code should be reading the actual tile size, not a specific number.

[2016-12-06 02:28] jrslagle commented on #3
Some other ideas from the house

Terra-Marza

Terraform: Iron Lily

![image](https://cloud.githubusercontent.com/assets/11183143/20910785/fb9be3ca-bb20-11e6-827d-196a81d3d27c.png)

[2016-12-06 02:31] jrslagle opened #13 "Refactor to support different kinds of tiles"
Right now the code just uses the grass plot for the tile. We'll need to expand this so the tile draws from a type. Hard code 2 tile types in a checkerboard just for testing.

[2016-12-06 02:38] jrslagle opened #14 "Pull tile types from a terrain file"
An expansion on issue #13 . Now instead of hard coding terrain tiles, save the terrain map into a file that is loaded. Code different tile types as 32-bit ints, with a dictionary file which stores the properties of each type.

[2016-12-06 02:42] jrslagle opened #15 "Allow Editing of Terrain"
Allow editing of the terrain file (load, edit, save). For now this should probably be a file on your local machine.

[2016-12-06 02:48] jrslagle commented on #9
Done:
#13
#14
#15

[2016-12-06 02:48] #9 closed

[2016-12-06 02:57] Master-Foo commented on #13
I updated the requirements above.

[2016-12-06 02:58] jrslagle opened #16 "Add tags"
I can't seem to add tags to issues, so maybe @Master-Foo you have to do it. I was hoping for at least a tag called "Ready to implement" as in an issue with no prerequisites. Having a mind map where we can see what becomes Ready after one issue is solved would be great. But the best I can think of is putting a note in the issue referencing which issue would become ready next - a terrible solution,

[2016-12-06 03:02] Master-Foo commented on #16
I think a "Has Prerequisites" tag is better, because the default state of an issue is that it should have no prerequisites, but when we determine that it has prerequisites we add that tag when needed.

[2016-12-06 03:09] Master-Foo commented on #16
I've added @jrslagle @techwulf & @deathStarUtah as collaborators on this project. You might be able to add Labels to a project now. Try adding a "Has Prerequisites" Label. If you can't do it tell me and I'll do it myself.

[2016-12-06 07:16] jrslagle commented on #8
I'm confident with physics, but could use a refresher on dot products and the like.

[2016-12-06 07:18] jrslagle commented on #2
I'm not claiming this unless I decide to follow through. But on the topic of assigning yourself, I see Assignees on the right, but nothing over there is active. Do we have permission?

[2016-12-06 07:22] jrslagle commented on #16
Yea, I still can't add labels or Assignees. It says you're the owner @Master-Foo , but I don't have a title.

[2016-12-06 07:23] jrslagle commented on #16
Off topic. I'm pretty much out of the house from dawn til dusk Monday through Wednesday. I probably won't be able to return much code until Thursday evening at the earliest. Things should clear up a bit in two weeks after school is over.

[2016-12-06 08:23] jrslagle commented on #16
I successfully rebased with your code, merged, committed and pushed to my fork.

Nice rock.

[2016-12-06 09:11] jrslagle opened #17 "Add a Tile Dictionary"
This goes between #13 and #14. It's a major prerequisite to #14 that deserves to be its own project.

[2016-12-06 09:30] Master-Foo opened #18 "Tile rendering glitch"
When walking around a Hectare, there is a strange rendering glitch which leaves a 1 pixel space between tiles allowing the background to show through the tile at it's border.

I suspect this is some kind of floating point error. But I haven't had time to explore.

Someone confirm if they get the same thing on their hardware.

[2016-12-06 09:34] Master-Foo commented on #2
I don't know what you can and can't do. All I know is that I can do it. Find a issue you want to own and try to assign yourself to it. If you can't tell me. I added y'all as colaborators to this project. I'm assuming privileges come with that.

[2016-12-06 09:35] Master-Foo commented on #2
BTW, I think you need to check your email to verify your collaborator status. Make sure you are actually a collaborator.

[2016-12-06 09:37] Master-Foo commented on #2
According to the "Add Collaborators" page, you haven't confirmed yet.

[2016-12-06 10:31] #12 closed

[2016-12-06 11:40] jrslagle commented on #18
I get the same glitch. It's between the first and second row. Sometimes between the first and second column too.

[2016-12-10 04:08] jrslagle opened #19 "Upgrade to Python 3"

[2016-12-10 21:45] jrslagle commented on #3
Tom, Alex, and I like TerraCraft.

[2016-12-11 02:27] Master-Foo commented on #3
That's the best suggestion I've heard so far. Let's think of way to distinguish that it's Terra **form** as opposed to Terra (Earth).

Also, I've been playing around with the idea of pulling inspiration from the titles of Golden Age Sci-Fi Pulp Fiction novels. As if this game is an Epic story as opposed to just an activity.

[2016-12-11 04:47] jrslagle commented on #18
I stopped getting this glitch. Don't know why...

[2016-12-11 04:58] Master-Foo commented on #18
This is very low priority. Don't bother with it unless you REALLY feel compelled. It will likely be scrapped when we remove the scaffold.

[2016-12-11 21:14] jrslagle opened #22 "Fill in README.md"
A description of the game. And instructions for getting the game running on your computer.

[2016-12-11 21:26] jrslagle opened #23 "Deciding on an engine to lock into"

[2016-12-11 21:26] jrslagle commented on #23
@Master-Foo, what are your thoughts on unity?

[2016-12-11 23:34] Master-Foo commented on #23
Unity is an engine for Script Kiddies and Pointy Haired Bosses and Limp Dicked Cuckolds.

Instead of just saying "We need to find a better engine than pygame" Why don't you give some reasons for doing so first? My feeling on the matter is, the reason goes something like this

"Unitiy gots electrolytes!"

Jimmy... Do plants crave Unity? Do they really?

I'm currently looking at some other options.

[2016-12-12 00:18] fishscene commented on #22
Feedback/criticism welcome. :)

[2016-12-12 05:37] Master-Foo commented on #22
Looks good.

[2016-12-12 05:37] #22 closed

[2016-12-12 05:59] Master-Foo commented on #3
So, seemingly for no particular reason, I happened to recall Bismarck's famous speech and It occurred to me that the situation he was speaking about is in many ways parallel to what the goals of this game are. Germany at the time was a new nation aggressively expanding into it's new colonies. Expanding it's industrial infrastructure. It's military capabilities. It's scientific capabilities. etc.

[2016-12-12 06:58] Master-Foo commented on #23
Here is the concession I am willing to make to anyone who wants to use Unity. A [professional license](https://store.unity.com/) is $125 per person per month. If anyone wants this to happen they should put their money where there mouth is and cough up the cash to buy everyone on the team a license for 1 year.

Or... We can use FOSS.

Now is the time to prove how much you like Unity.

[2016-12-12 07:27] jrslagle opened #25 "Streamline Keyboard Listening"
I've been working on this for just over a day now. At first I was just bugged that source/interface/keyboard.py lists each key three times. This makes it easy to miss one if you're adding to the framework, and it's unnecessarily verbose.

Then I got advice on whether to move things around so that the keyboard controller commands the avatar (or menu screens).

Then I talked to another guy about dif

[2016-12-12 07:59] Master-Foo commented on #25
Actually, this is something I have been knawing on in the back of my mind for a while (The list in my head is 100x that of the issues posted in this project.)

@jrslagle is correct. This is the "better" way to do it. It shouldn't require too much modification.

I just haven't gotten around to it yet. You might run into issues, for instance, what if you want to register both the up key and right ke

[2016-12-12 08:11] Master-Foo commented on #25
While you are poking around the keyboard stuff... You might as well take care of issue: Expand source.interface.keyboard #11

[2016-12-12 16:17] fishscene commented on #3
I'm partial to TerraCraft as well, although I'm seeing a few things related to Minecraft-type deals where the name is used.

We seem to like "Terra", so:
TerraPrep
AmeTerra (Ame: Japanese for "rain" - which might be a critical step in the TerraForming process)
TerraProc(ess)
TerraStage
TerraTech(nique)
TerraCourse
TerraPlan
TerraDev(elopment)
TerraSys(tem)

Note: I haven't researched these out for

[2016-12-13 06:18] jrslagle commented on #11
Doesn't that just create dead code? I'd rather add keys when we begin using them. Although the way I want to implement issue #23 would negate this. Observers would just submit which keys their interested in, bar none.

[2016-12-13 06:20] jrslagle commented on #6
Can we say this is accomplished?

[2016-12-13 06:23] jrslagle commented on #2
@techwulf and I have been playing hot potato with this one. This is my priority after #25 if he doesn't get to it first.

[2016-12-13 06:26] jrslagle commented on #8
Probably unwise to ask before looking, but doesn't pygame have a physics engine we can just import?

[2016-12-13 06:28] #16 closed

[2016-12-13 06:43] jrslagle commented on #3
I really like Iron and Blood. I've been having a hard time reconciling making a game enjoyable and Mars/(any cold rock) being so cold and barren. The answer lies somewhere in incorporating that brutality into the game's brand/theme. I would caution that even games that are really hard and unwelcoming in the body of the game, start off welcoming to draw you in (Half-life 2, Skyrim).

[2016-12-13 07:26] jrslagle commented on #3
On the foreign language theme,

I think mixing multiple foreign languages is weird... But the Latin word for rain is vernal. And Japanese for Earth is chikyu and craft/workmanship is zaiku. So Ame-zaiku (雨細工) ?

But I do agree that rain is a critical step in the terraforming process.

What about RainCraft?

Nova Prospect - an old name I've used for things.  I just like the sound of it and prospect

[2016-12-13 07:26] jrslagle commented on #3
And some usage research:

TerraCraft - company that makes reverse tricycles.

Iron and Blood - "Blood and Iron" is the title of a Prussian speech from 1862. Namely "Not through speeches and majority decisions will the great questions of the day be decided ... but by iron and blood."

RainCraft - Nothing major. a MineCraft texture pack. A small forum. A gutter company. An irrigation company. A WoW

[2016-12-13 07:46] jrslagle opened #26 "WHY DOES THIS GAME USE 60% OF MY CPU WHEN I'M STANDING STILL?!"
General discussion, ideas, and inspiration for budding off smaller optimization projects.

One is the keyboard listener polling every frame. (#25)

Another is the animating single frames (#10)

And I believe the tiles are being re-chosen every frame if I overheard correctly.

[2016-12-13 07:59] jrslagle commented on #25
The improvement I was thinking that negates #11 is, each subscriber submits the event types they want to be notified of. The reporter keeps a dictionary like

{
UP_K : [Avatar],
DOWN_K : [Avatar],
F5_K : [SaveGame],
L_CLICK : [Avatar, Hectare]
}

If an event key isn't represented, ignore it. If it's present, notify that list of subscribers. When a new subscriber subscribes, the reporter adds their

[2016-12-13 22:22] Master-Foo commented on #25
Not so much that way.

What should happen is, the observer's controller (for instance Avatar Controller) should have a function like this:

[code]

the observable (Keyboard) should determine which key is being pressed and then do something like this

[code]

[2016-12-13 22:44] Master-Foo commented on #26
No matter how efficient we make this game, it will ALWAYS hog your CPU because the game loop is CPU bound. If it is only taking 60% of yours, you are lucky. The real metric for determining how inefficient this game is, is **"How many frames per second can I draw?"** and **"How much memory is being used"**

However, just because cpu hogging is expected, doesn't mean it can't be streamlined.

* The

[2016-12-13 23:10] Master-Foo commented on #3
I'm going to explain my thought process behind disliking the XyzCraft. I think it is derivative and alludes too much toward MineCraft. Really, this game has little to do with MineCraft. The way I see it is, there are more parallels between this game and Eve Online. So, calling this XyzCraft would just send people the message that this is just another "Activity". Another MineCraft knockoff.

Which

[2016-12-13 23:13] Master-Foo commented on #3
TLDR; think of it this way... If you were to write a Sci-Fi novel about the shit you want to do in this game, would you call it "TerraCraft"?

[2016-12-13 23:19] Master-Foo commented on #3
By the way I'm not shooting down XyzCraft as ideas we shouldn't be exploring. I just think those words should be **concepts** that inspire a title. Not the title itself.

[2016-12-13 23:31] Master-Foo commented on #8
No, not so much. Physics are usually something imported from a physics engine. For instance, Box2d is a good library for doing collisions.

There is a dirty secret though. Most games don't do a great deal of actual physics simulations because it's expensive and can be faked for much, much cheaper. For instance, the Vector Math takes care of most everything we need right now. To add gravity, all we

[2016-12-13 23:35] Master-Foo commented on #2
@jrslagle you still need to clean up that pull request you submitted days ago. Do that before anything else.

[2016-12-13 23:38] Master-Foo commented on #6
No I'm waiting for @deathStarUtah to finish his [code review](https://github.com/Master-Foo/game/pull/20)

[2016-12-13 23:43] Master-Foo commented on #11
We will eventually need all the keys at one point or another in the game. And the overhead is negligible. So, we might as well do it now so it will be ready for us when we need it.

[2016-12-13 23:59] deathStarUtah commented on #6
I finished it on sunday.

On Tue, Dec 13, 2016 at 4:38 PM, Master Foo <notifications@github.com>
wrote:

[2016-12-14 00:19] Master-Foo commented on #6
@deathStarUtah, I'll go take a look.

Note to everyone... I don't know if you have finished a code review if I don't get a pull request or a message in the pull request conversation that asks me to take another look. FYI.

[2016-12-14 03:45] Master-Foo opened #27 "Create a Potato"
I made a Corn Entity it grows over the course of about a minute. Look at that and create a new entity for a potato. The images ready exist.

Pro tip: This is really super stupid and simple. Don't do anything fancy. Don't submit anything that doesn't have anything to do with the potato. Start a new project clone without all the garbage. make a branch called "potato"

[code]

make a potato

then sub

[2016-12-14 03:47] Master-Foo opened #28 "Create a Turnip"
I made a Corn Entity it grows over the course of about a minute. Look at that and create a new entity for a turnip. The images ready exist.

Pro tip: This is really super stupid and simple. Don't do anything fancy. Don't submit anything that doesn't have anything to do with the potato. Start a new project clone without all the garbage. make a branch called "turnip"

[code]

make a turnip

then sub

[2016-12-14 03:49] Master-Foo opened #29 "Create a Tomato"
I made a Corn Entity it grows over the course of about a minute. Look at that and create a new entity for a tomato. The images ready exist.

Pro tip: This is really super stupid and simple. Don't do anything fancy. Don't submit anything that doesn't have anything to do with the tomato. Start a new project clone without all the garbage. make a branch called "tomato"

[code]

make a tomato

then sub

[2016-12-14 04:10] fishscene commented on #29
I'll see if I can whip something up tomorrow. Super tired tonight. :/

[2016-12-14 08:02] jrslagle commented on #27
As I understand it, my work stack is: keyboard observer pattern (#25), then PR #21, then animations (#2), then this. Should I rearrange that order or remove things?

While I'm done with finals and Done Club, I have an obnoxious amount of Christmas prep to do this week, including prepping my car for a drive to Sacramento. I'm not out of the woods yet. Next week starting Monday looks much better.

[2016-12-14 18:43] fishscene commented on #29
So I'm realizing my artwork is about 2nd-grade level. But I'm assuming we just need a stand-in, so I'm moving forward.

Should the files be named exactly the same as the ones they are replacing? For example, the original is "000.png", should I name my replacement as "000.png"?

[2016-12-14 22:44] Master-Foo commented on #27
I gave you specifically this project because it is something you can do in a short amount of time. You'll get SOMETHING into the commit history. Which, BTW, you still have a pending code review from your last pull request. So, THAT if anything should be your priority. Not keyboard stuff, not PR, not animations.

Finish what you've already started, which is your last pull request. Then do this Pota

[2016-12-15 07:33] Master-Foo opened #31 "Refine Power Grid System"
I recently created the power grid system. It consists of 4 parts.

1. Power sources (Like Solar Panels, Wind Turbines, Plutonium reactors, etc.) The Solar Panel has already been completed.
2. Power Stores (Like Batteries and Capacitors) The Battery has already been completed.
3. Power Drains (Like lights, robots, anything that uses electricity) The LightBulb has already been completed.
4. Power Gr

[2016-12-15 15:18] fishscene commented on #29
I think I got confused with the original request and created a bunch of artwork instead of code. If it helps anyone:
https://github.com/Master-Foo/game/commits/master
This helped me dig up the changes for the corn commit, so I knew what files to modify to make the tomato.

I couldn't figure out how to start a new clone and I may have some junk in the commit log, not sure if that's ok or not. I'm p

[2016-12-15 16:15] fishscene commented on #29
Figured out what I did wrong with creating a clean commit. I closed out my unclean PR and submitted a new PR.

[2016-12-15 22:23] #29 closed

[2016-12-15 22:32] Master-Foo commented on #29
That was a good commit.

If you want to continue down this line, we could use an intermediary class called Plant that all plants inherit from. You can make that. IIRC, My corn and your tomato inherit from Inanimate. Corn and Tomato (and others) should inherit from Plant and Plant should inherit from Inanimate. Move similar redundant code from both Corn and Tomato into Plant.

[2016-12-16 20:49] jrslagle opened #37 "Brainstorm: Beginning Game Flow"
I thought it might be helpful to touch base on how we imagine the game, so we develop between our collective imaginations. Yes this will inevitably cause fights from the disagreements it uncovers, but hopefully if we keep working on the immediate issues, this thread won't slow us down. But knowing what our respective imaginations are on how the game will look and play will help us bend our efforts

[2016-12-16 20:54] jrslagle commented on #37
I imagine starting with the tech in your landing pod.
-solar panels
-laser 3D printer that takes powders
-a robot dog that fetches things outside.
-ground penetrating radar that lets you get a (crappy) scan of nearby minerals.
-seeds for crops
-magic equipment for refining dirt into useful compounds.
-lots of design files for making stuff.

[2016-12-16 20:54] jrslagle commented on #37
Putting dirt into your printer would give you a crappy obsidian sculpture.

[2016-12-16 22:06] Master-Foo commented on #37
I think its important to keep things REALLY simplistic at this point.

Right now, I don't really want to worry about how difficult the game is, or how deep it is, or how complex it is. Right now, we need to focus on one set of tasks and do that. I'm thinking that set of tasks is going to be mining. In the future we might have farming tasks, exploration tasks, trading tasks, etc. But for now, here

[2016-12-16 22:26] Master-Foo commented on #37
Here are some idea about what players can focus on as a "Job".

Once a player has his homestead established, he can make money by selling stuff and interacting.

---
# Explorer

This job goes to random parts of the planet. Does some geologic assessment. The assessment determines what quantities of minerals are in a given Hectare. That player submits the assessment to the "Governing Authority". A d

[2016-12-16 22:32] Master-Foo commented on #37
I'm putting a moratorium on submitting issues which are outside the scope of the goals of the above MVP. If there is something that needs to be discussed outside the MVP, place them here, but don't work on them unless we decide it is imperative to escalate that feature into the MVP.

[2016-12-17 00:12] Master-Foo opened #38 "Create more Elements, Chemicals, and Minerals"
In my latest commit, I have created the structure in the game for Elements, Chemicals, and Minerals. This is the basis for mining Ore.

So basically, a Mineral is composed of many chemicals and chemicals are composed of many elements.

The classes for these are in /source/minerals /source/chemicals and /source/elements

They each inherit from an abstract class. But that shouldn't be important for

[2016-12-17 01:14] Master-Foo opened #39 "Create a Mining action for Human"
Prerequisites: "Add a hold_item action to Avatar #6"

Map action to the "m" key

When Key is pressed, The Human is now holding a piece of Bauxite. For now, the Bauxite isn't pulled from the Tile. We'll make it more complicated later. The Bauxite just magically becomes real.

[2016-12-17 03:39] Master-Foo commented on #37
I just created a very simplistic workflow that demonstrates that it is possible to go from Mineral -> Widget (Widget being just a nonsense item for demonstration purposes we can refine the system to build SolarPanels and such later)

Anyway, it works. (although it is a primitive system)

Run /build_workflow.py for a real working example. It's command line output only.

Basically, here is the workf

[2016-12-18 22:55] #28 closed

[2016-12-19 03:20] Master-Foo commented on #38
I added a couple of datapoints for each element: density, molar_volume, and abundance. Look at Hydrogen for an example.

I found a site that will give you easy access to the data you need, http://periodictable.com/Elements/001/data.html

Here is a sample copy & paste of the data it should be easy to go through and filter out the information that is needed.

[code]

**Note:** In the Hydrogen file,

[2016-12-19 03:51] Master-Foo commented on #38
**Note:** the abundance values from the source are in percentages for instance ```% in Earth's Crust	0.15%``` will need to be converted to 0.015

[2016-12-19 19:30] jrslagle commented on #38
Since real world chemicals are rarely a pure element, I would use elements as the basis for which to calculate the molar mass, and charge of compounds. Compounds are what you'll use as the constituents for reactions like electrolysis and the composition of in game entities. Therefore I'd make Elements abstract, and Compounds entities. Here's how I'd organize it.

Element
-mass (g/mol)

Compound
-m

[2016-12-19 19:47] jrslagle commented on #38
I think that's as complicated as Reaction ever needs to be. Any number of getMethods() can be derived from those 4 members. Including reaction rate (from temp & Ea), yields, florescence, heat produced, whatever. In Mower fashion, we can add get methods when we need to use them.

Oh yea, a complete Reaction class would also need some way to represent catalysts (the constants for enzymes are Km, Vma

[2016-12-19 19:54] jrslagle commented on #3
How about The Thaw.

-for the tide of humanity melting the icey worlds of the solar system and beyond. It speaks of the era of terraforming. While it reminds you of the first buds of spring, it also acknowledges these worlds start off frozen and barren. It focuses your attention on the long term goal of warming this place up.

And it doesn't name Mars.

[2016-12-20 00:24] jrslagle commented on #38
More thoughts. This is all far too complicated to implement all at once, but these categories can accommodate the range of materials we may incorporate and query. What we want is to transmute one material into other materials using accurate chemistry and thermodynamics. And we also want convincing geography.

The bulk of our properties would be at the compound level (density, atomic components, co

[2016-12-20 00:41] Master-Foo commented on #38
@jrslagle Elements / Chemicals / Minerals are not Entities.

Entities are best described as "The things you interact with in a game on a macro level", So, for instance, an Avatar, the Solar Panel, the Plants are Entities.

Elements and Chemicals are more like book keeping objects. Kind of like a form of currency. At best, you'll only ever see them abstractly in an Elemental Storage Tank ledger, or

[2016-12-20 00:53] Master-Foo commented on #38
@jrslagle BTW, checkout ./build_workflow.py as an example of how this system is used. It roughly follows what I think you are trying to describe, however, it is still very simplistic. Play with that and try to understand that system. Then we'll come back to it and see how we can improve it.

[2016-12-20 01:41] jrslagle commented on #38
I saw what you wrote about the build workflow. I like it a lot. I'll dive into the code later though. The build workflow seems a lot like MineCraft, which I think the model of chaining transmutations is just a staple for any sandbox game from here on out. There are other aspects we really want in this game that you've mentioned. And a couple more I'd like to add. But for now I'm trying to focus on

[2016-12-20 01:48] jrslagle commented on #38
BTW, @Master-Foo, you need an instant messenger of some kind. ;-) ^^^ is in this thread because there is no general discussion space.

[2016-12-20 02:47] Master-Foo commented on #38
@jrslagle we have a "general discussion space" It's called "E-Mail". It was built by the Greybeard Patriarchs for this purpose.

[2016-12-20 04:12] jrslagle commented on #31
Awesome. We definitely need this, and I love how much work you're doing.

Before you get too far with wind turbines, the air on Mars is (currently) too thin for wind to have any appreciable force. So wind mills, wings, quad-copters, blimps, and any aircraft except rockets would be ineffective. (Hope that's not too much of a downer). This guy did a pretty rigorous experiment on how forceful wind on

[2016-12-20 04:31] jrslagle commented on #6
Before we can get #39 up, we need this. So I'm picking through Alex's code and doing it how I want.

@Master-Foo, should the hold action go in animate or human?

[2016-12-20 04:32] jrslagle commented on #6
Actually, if your bots can hold things, then animate, definitely in animate.

[2016-12-20 06:30] jrslagle commented on #6
This ones actually kind of tricky.... Different aspects of Avatar are implemented at different steps of his inheritance chain, and a lot of it doesn't make sense to me. I've gotta map this out on paper.

[2016-12-20 11:33] Master-Foo commented on #31
I'm not even going to click on the video. I know you are talking about Cody.

Anyway, I don't think wind turbines should be a high priority, I was mostly using that as an example of various power generators. But It should possible to generate a planet with high atmosphere, so I wouldn't write it off completely.

[2016-12-20 11:40] Master-Foo commented on #6
I'm not entirely sure what you are talking about. So, put it where you think it should go and I'll scold you in code review.

Anyway, the general rule of thumb is.

1. Modifying state usually belongs in the mode.

unless...

2. You are using state to display data, then it goes in the view

3. Code which is dependent on user interaction, or events belongs in the Controller.

4. Sometimes you just h

[2016-12-20 14:32] jrslagle commented on #6
I meant which levels contain which code - Entity > Animate > Human > Avatar. But same applies, use my best judgment and see what you think. I just have to chart out what is already where because it looks like several aspects are implemented on multiple inheritance levels, like move states. In those cases, the child class shouldn't have the redundant code right?

[2016-12-20 14:41] jrslagle commented on #6
But thank you for the MCV explanation. The line between controller and model are often blurry for me.

[2016-12-20 20:38] jrslagle commented on #38
@Master-Foo, I want to slim the number of members in Element down to prevent a lot of unnecessary hand keying and also dead code. But not wanting to screw up your plans, what were your intentions for atomic number, group, period, and abundance?

class Element:
   name            = None
   symbol          = None
   atomic_number   = None
   group           = None
   period          = None
   atomic

[2016-12-20 20:43] jrslagle commented on #38
@Master-Foo, maybe a better idea is I'll refactor and my pull request will be my suggestion.

[2016-12-20 23:12] Master-Foo commented on #38
@jrslagle if you are working on this, talk to @techwulf because he's working on it too. Maybe you can divide up the work or something.

We can probably get rid of the fields group and period. I want to keep atomic_number for book keeping purposes and atomic_weight will probable be useful.

abundance is going to be useful for when we start procedurally generating terrain and I want to throw @techwu

[2016-12-20 23:47] Master-Foo commented on #6
If there is redundant move code, it should probably go into Animate and removed from whatever else it is in (provided it still works. test it and see).

[2016-12-21 00:49] jrslagle commented on #38
@Master-Foo, ok that makes sense. Mass (it's typically termed "molar mass" and has units (g/mol)) will allow you to derive the mass of your chemicals and a bunch of things useful for getting to their mass and volume in the world. Actually... equations are more constructive to the project.

@techwulf if you're interested in taking over the Mine action, I've got 6 semesters of chemistry under my bel

[2016-12-21 01:43] Master-Foo commented on #38
@jrslagle I admit, I haven't had time to think through the details. The last time I had to calculate Molar Mass and actually do Chemistry was in 2005, so figuring this shit out again would require me to spend 5 minutes on Wikipedia to brush up on my rusty knowledge. I don't have time for 5 minutes on any damn Wikipedia.

I figure, my job is to put these systems in place so someone else who has mor

[2016-12-21 08:16] Master-Foo commented on #10
Fixed. There is a noticeable difference in refresh rate now.

[2016-12-21 08:16] #10 closed

[2016-12-21 08:20] Master-Foo commented on #13
The prerequisite has been solved.

[2016-12-21 08:32] Master-Foo opened #45 "Make an In-Memory Library of Resources"
As it stands, each time an object with a resource gets instantiated into memory, it allocates new memory for that resource.

Some objects are highly redundant. For instance, each Tile Entity has a new copy of its image in memory for each instance of the tile.

This is:

1. Slow to load
2. A memory glutton

We need to make a Resource Repository class which stores 1 instance of each needed resource.

[2016-12-21 19:09] jrslagle commented on #45
I love it. I had this in the back of my mind too. Basically ask the repository for a resource. The repository checks for it and either serves the resource right away, or loads and then serves. Right?

[2016-12-21 19:17] jrslagle commented on #38
@Master-Foo my thought process literally went "YUSS! .... shit." K. I'm taking our chemistry engine on. I have an overarching plan, but for the sake of efficiency, I'll only implement what we need for the next feature. Just say, ok Jimmy, we want the chemistry engine to have this feature. And I'll build the minimum number of entities and abstracts to upgrade for that feature. No dead code. No time

[2016-12-21 19:22] jrslagle commented on #38
I talked to the illusive @techwulf last night (*cough*), and he said he's already added 50 of the elements and is committed to finishing that. So I'm looking forward to that release too.

[2016-12-21 23:09] Master-Foo commented on #38
OK, I'm fine with whoever is doing this so long as it gets done. It's pretty important. If you want to move on to the next step after this, it would be to look at the ElementalStorageUnit, Refinery and Replicator and figure out how to go from generic units to storing in units of Molar Mass. I'll make an issue for this and you can assign yourself to it.

[2016-12-21 23:15] Master-Foo opened #46 "Modify Elemental Systems Like the ElementalStorageUnit to store in Molar Mass Units"
As it stands, the ElementalStorageUnit (ESU), ElementalStorageTank (EST), Refinery, Replicator, Minerals, Chemicals, etc. use generic units for representing how much of an Element it contains.

We need to modify these systems to use Molar Mass.

For instance, Figure out how many Mols of Element X are in a cubic Meter of Bauxite and then store that quantity in the EST.

[2016-12-21 23:31] Master-Foo commented on #3
This goes against my "Don't mention Mars" rule. But I think it's good enough that I can live with myself as a hypocrite.

"Life on Mars"

[2016-12-22 02:36] jrslagle opened #47 "Add a Auto-Save Feature"
One thing I'd like to see after MVP is finished is an auto-save feature. (and later a reset feature). Right now having the map reset every time makes making stuff really meaningless.

[2016-12-22 04:52] jrslagle commented on #46
Hey @Master-Foo, I'm adding mass and density, and I was wondering why you're initializing name outside the init() and elements inside.

 class Boehmite(chemical.Chemical):
    name = "Boehmite"

    def __init__(self):
        chemical.Chemical.__init__(self)
        self.elements = [

[2016-12-22 05:33] Master-Foo commented on #46
It's a complicated story, but there is a good reason for it. Ask me in person and I'll explain.

[2016-12-22 06:08] Master-Foo commented on #47
This will probably be an MVP feature. There isn't much point in telling someone "Hey come play my beta" if they can't save their progress.

As for it being an auto-save, probably not. An Auto-Save is more complicated than a Save-On-Request. So, I'll probably get the simple version working first and then work up to auto-save.

Then I have to ask myself. Do I do this "quick and dirty" or do I do it

[2016-12-22 06:11] jrslagle commented on #46
@Master-Foo, it looks like the pattern is constants which don't call constructor methods go outside as local variables, and ones that do create class instances are set up in the init() constructor. Am I right?

[2016-12-22 06:13] jrslagle commented on #46
Anyway, I'm going to bed without a working commit. Spent most of my time just orienting and looking things up.

[2016-12-22 06:40] Master-Foo commented on #46
That's mostly right. You can create class instances outside of the scope of __init__(), but the effect has intended or unintended consequences (depending on your level of ignorance).

Usually, the consequences are unintended and can create some problematic bugs if you don't know what the fuck you are doing.

[2016-12-22 13:16] Master-Foo commented on #25
I finished this.

[2016-12-22 13:16] #25 closed

[2016-12-22 13:17] Master-Foo commented on #8
I finished this.

[2016-12-22 13:17] #8 closed

[2016-12-22 13:18] #27 closed

[2016-12-22 14:33] jrslagle commented on #47
I'd say work towards a single player MVP.

[2016-12-22 14:34] jrslagle commented on #47
Also, I moved the chemistry and mineral assets into a chemistry folder under abstract. So, hope that doesn't conflict with saving game state.

[2016-12-22 15:09] jrslagle commented on #46
So since Bauxite is a heterogeneous rock as complicated as concrete, I'm going to substitute magic numbers for the percentages of each component chemical. Later, the actual composition will be determined by @techwulf via procedural fractals as a part of terrain generation.

[2016-12-22 15:13] jrslagle commented on #46
Also on topic, @all, does anyone know of a convenient data type for a list of percentage floats adding up to 1? It's essentially the list of weights in a weighted average, but I've been calling it composition here.

[2016-12-23 00:49] jrslagle commented on #25
God dam!

[2016-12-23 01:22] Master-Foo commented on #46
I'm not sure what you mean by "a list of percentage floats adding up to 1?"

Do you mean something like this?

[code]

I don't think something like that exists. However, we know that there is a discrepancy of 0.05 in array1 so you can just add 5% to each item to normalize the array.

[code]

[2016-12-23 01:30] Master-Foo commented on #25
Be glad you only peeked into that rabbit hole.

Here, I'm assigning issue: Expand source.interface.keyboard #11 since it's starting to become a priority.

I almost have the framework to the point where we can start punching out game play features in rapid succession and I don't want problems like "That key isn't mapped" to be something that slows us down. If someone is making a feature and they ne

[2016-12-23 02:38] jrslagle commented on #46
@Master-Foo, yes that's exactly what I mean. Another place you see it is the % components that make up a pie chart. I'm hoping there's a python library out there for it. Otherwise I'll be making this datatype myself, along with methods like merge, is_valid, remove[#]. This normalized set of components is the data type I want to use for the chemical makeup of a given volume of rock. It makes the ch

[2016-12-23 02:42] jrslagle commented on #38
I'm currently working on this. I'm consolidating all the elements into one file.

-Calling an element will look like elements.Carbon().
-Checking for consistent formatting will be easier.
-You only have to import stuff once.
-I'm on element 75.

[2016-12-23 02:50] jrslagle commented on #38
Sorry @techwulf. I'm staking a claim on everything chemistry, and making sure I don't become the bottleneck on it. There's still animation, ground textures, holding and mining actions, putting the refinery and replicator into the game.... if you need ideas. I know I keep claiming tasks which pushes others off the table, but chem really is a strong point for me.

[2016-12-23 04:30] Master-Foo commented on #46
[code]

[2016-12-23 04:36] Master-Foo commented on #38
@jrslagle @techwulf Call each other up and split the work between both of you assholes. Jesus Fuckn Christ.

@jrslagle keep them in separate files. I do that for a reason.

[2016-12-23 05:26] jrslagle commented on #46
That's beautiful...

[2016-12-23 05:52] Master-Foo commented on #46
Yeah, it is. Now go read the rant I left you on your last pull request.

[2016-12-23 10:23] Master-Foo commented on #6
Done.

[2016-12-23 10:23] #6 closed

[2016-12-23 10:38] Master-Foo commented on #39
Done.

[2016-12-23 10:38] #39 closed

[2016-12-23 23:59] Master-Foo commented on #5
I recently did some cleanup in Avatar. As a result, making new actions is super simple.

Check out the [commit](https://github.com/Master-Foo/game/commit/08394514628ebda9d42a3cc9eef924c051877aa2) for issue: Create a Mining action for Human #39 as an example. It's literally only 15 lines of code. Also, it demonstrates nicely where code should go as far as Controller, Model, View as well as Where it

[2016-12-24 00:09] Master-Foo opened #49 "Add Gravity"
The Logic for this should go in the Planet Model class.

For now keep the constant at Earth Gravity
[code]

Also in the Model, there should be an `apply_gravity()` function which takes care of logic.
[code]

Planet's `on_loop()` function should call the `apply_gravity()`

[2016-12-24 00:11] Master-Foo commented on #5
I just added issue: Add Gravity #49

[2016-12-24 00:32] Master-Foo opened #50 "Add Mas to Entity"
Add Mass to the Entity class.

To calculate mass for any given object. I recommend the [Spherical Cow Method] to keep things simple.

[2016-12-24 00:58] jrslagle commented on #49
Since we're calculating fall acceleration, shouldn't gravity be in metric 9.8 m/s^2 rather than g's?

[2016-12-24 01:16] Master-Foo commented on #49
That calculation applies only to Earth gravity. A different calculation is going to be needed to be generic in each planet's gravity. (We are just using Earths gravity to keep things simple)

I'm pulling from memory, so probably inaccurate, but something like this:
[code]

[2016-12-24 03:06] Master-Foo opened #51 "Move redundant code in on_render from crops into Plant"
Plants inherit from inanimate. There should be a Plant class which all plants inherit from. Likewise, Plant should inherit from inanimate.

Move shared code from tomato, corn, turnip, potato into Plant.

[2016-12-24 03:16] Master-Foo opened #52 "Make Electronic an Abstract Class"
Electronics inherit from inanimate. There should be a Electronic class which all Electronics inherit from. Likewise, Electronic should inherit from inanimate.

Move shared code from Battery, SolarPannel, Refinery, ect, into Electronic.

[2016-12-24 05:27] jrslagle commented on #49
Not to get all pedantic, but the way I would do it is

''''
Planet.gravity = 3.7  # for Mars it's 3.711 m/s^2

loop
    # velocity is in m/s, position is in m
    Entity.velocity.z -= Planet.gravity / time_since_last_frame_in_seconds
    Entity.position += Entity.velocity
''''

Gravity can be seen as a constant decrement to velocity.

[2016-12-24 05:40] Master-Foo commented on #49
We'll cross that bridge when we need to. This isn't even MVP, so I'm not really interested in the details right now. I just put this here as a place holder because it's something we'll get around to eventually. But for now, it's not worth the brain equity. More important things to do now.

[2016-12-24 19:22] jrslagle opened #53 "Choose a Camera Type"
This needs to be decided before we can make the art.

**1st person** - common in shooters, scary games, and VR. Use 1st person when the game is enhanced by feeling like you're there.
Cons - art needs to look really good up close. can get motion sickness. can't see dangers behind you.
Pros - feels more immersive. can show off the bottomless detail offered by procedurally generated textures. can't s

[2016-12-24 19:23] jrslagle commented on #53
I'm personally on the fence between 1st person for the immersion and 3rd person isometric for how easy it makes art and camera stuff, and seeing behind you.

[2016-12-24 19:26] jrslagle commented on #53
You know. If our art was detailed, 1st person isn't a hard camera to manage. I'd love an in game option to right click on your avatar or one of your bots and "Go 1st person". And from there have the option "Return to Isometric View".

[2016-12-24 19:28] jrslagle commented on #53
Your HUD might change a little, but all the actions should stay the same, for simplicity.

[2016-12-24 23:57] jrslagle commented on #46
So data structure on composition...
When defining a composition, I'm not sure which to use.

an array of touples
'''
composition.Composition([
    (boehmite.Boehmite(),2),
    (diaspore.Diaspore(),1),
    (gibbsite.Gibbsite(),5)
])

(then)
def __init__(*args):
# normalize input
'''
or a dictionary
'''
composition.Composition([
    ("Boehmite",2),
    ("Diaspore",1),
    ("Gibbsite",5)
])

(then)
d

[2016-12-25 00:40] Master-Foo commented on #46
tuples are probably better because having an instantiation will allow us to query boehmite's properties directly.

Is Composition supposed to be the "ore" we pull out of the ground? It's been a week since I fooled around with what I made as far as minerals, so my memory isn't perfect. But is seems like you are just making another mineral and naming it something else.

I'm fine with this, just make

[2016-12-25 00:48] jrslagle commented on #46
yea, I want to be able to mention a mineral/chemical/element so you can get to its properties, but without writing war-and-peace. I'm thinking about making a dictionary file that translates Fe = elements.Iron() for instance. You'd just have to be okay with title case for ENUM variables.

[2016-12-25 01:03] jrslagle commented on #46
@Master-Foo
Well I'm not sure why you chose bauxite. It's a rock type, not a mineral, but I'm trying to just go with it.

My organization structure for chemistry is

Composition - a data type. Just a normalized array of touples (chemical/element, float). This describes which chemicals are present in which percentages.

Elements - we're just averaging all isotopes.

Chemicals - groups of atoms. Alw

[2016-12-25 01:09] Master-Foo commented on #46
I'm pretty much fine with whatever you can make work. Do what you can and I'll probably have some suggestions on making it more efficient. But right now I just want something that is simple and works.

As far as choosing Bauxite, no particular logic there. I built the whole element, chemical, mineral, refinery elemental storage unit, replicator, etc. in a couple of hours to demonstrate the general

[2016-12-25 01:12] Master-Foo commented on #46
IIRC from geology, a rock (Bauxite) is just a composition of minerals. So, I'm with you in calling Bauxite a composition if that is where you are headed. I'll leave the details up to you since you are more interested.

[2016-12-25 02:03] jrslagle commented on #46
I think you're confusing composition and composite.

[2016-12-25 02:27] Master-Foo commented on #46
I'm no Rockologist or anything, but I'm sure there is a reason they chose the name composite. Regardless, I'm not as concerned with semantics so much as just having something that works. Call it a parrot the compiler doesn't care.

[2016-12-25 02:42] jrslagle commented on #46
@Master-Foo I'm explaining myself because this whole lone ranger thing isn't getting me anywhere. I'm clumsy with python and will need some guidance on data structure, etc. So if you understand what I'm aiming for, then you'll know how to break it down into stepping stones, spherical cows, and such.

[2016-12-25 03:26] Master-Foo commented on #46
OK, the secret to spherical cows is to completely ignore the realistic cows. Wipe them from your mind. At best, don't ask yourself how you can make this spherical cow into a realistic cow. Ask yourself how you can make this spherical cow 1 step and ONLY 1 step more complicated.

Because, truthfully, we will never have a 100% completely realistic physical representation of chemistry in the game. Wh

[2016-12-25 03:37] Master-Foo commented on #46
Maybe this will help. I haven't really described my intentions, so it's probably reasonable that you are confused.

When someone is mining dirt. For now, I think it's best to say, The only unit of dirt someone pulls out of the ground is 1 Cubic Meter. That 1 Cubic Meter of dirt might be Bauxite, or Sand, or whatever. So, we can look at what 1 Cubic Meter of Bauxite is composed of and easily calcul

[2016-12-25 03:59] Master-Foo commented on #46
Oh, BTW.

The Refinery, ESU, Replicator, and Storage Tanks are now represented in the game itself. Soon, we should be able to throw a rock into the replicator and spit out a solar panel.

Use that as motivation if you want to. The spherical cow you are working on has important consequences.

[2016-12-25 05:57] jrslagle commented on #46
I'm saving your secret to spherical cows in its own file, because I'm definitely coming back to that one again, lol.

[2016-12-25 06:16] jrslagle commented on #46
I totally agree that I should keep tasks to a difficulty of one sitting. This one, like jumping, or animation, turned into a quagmire of prerequisites. My brain does the equivalent of hard drive thrashing when there are too many prerequisites to find a starting point. Bauxite is complex but I've entered the missing chemicals and hard coded a normalized composition now.

I haven't yet adapted your

[2016-12-25 21:29] jrslagle commented on #46
@Master-Foo
So I was tinkering and was wondering if this uses less resources.

When you listed elements, you were going
aluminum.Aluminum(),  # calling new instances
oxygen.Oxygen()

Hoping to call their properties later? But I found that the () on the end creates an instance of the class with a memory address. Then I found that I can get at the properties of a chemical, just by passing the class

[2016-12-26 00:48] jrslagle commented on #46
@Master-Foo adapting your list comprehension for normalization to work on components of a touple took a bit, but I'm there now. It's a bit monstrous for one line though - just like that last run-on-sentence...

from
'''
norm = [i/sum(raw) for i in raw]
'''
to
'''
self.composition = [(part[0], part[1] / sum(i[1] for i in list)) for part in list]
'''

[2016-12-26 04:06] jrslagle commented on #46
In a round about way I figured out why you were calling instances of chemicals. If you define name and composition in the constructor as self.name = , then it uses the variable of the parent class. If you define a new name outside the constructor, then that masks and overrides the parent class' variables, and you might as well not even have a parent class at that point. using the parent classes' v

[2016-12-26 05:38] jrslagle commented on #38
this?
[code]

or this?
[code]

[2016-12-26 05:54] Master-Foo commented on #46
@jrslagle I was actually thinking about bringing that up. `boehmite.Boehmite` may be the best way to do this in this case. I was kind of sloppy in my implementation, but using `boehmite.Boehmite()` is generally safer.

The only consideration we need to determine is if in the future Bohmite will ever be more complex. As long as it is "Read Only" though out the whole program, But doing this can also

[2016-12-26 06:00] Master-Foo commented on #38
[code]

This way we have `number = 2` even if we don't call the constructor.

The general rule of thumb is, primitive data types (int, float, char, string, etc) do not allocate new memory, so, you can put it outside the constructor. Complex datatypes (like classes) require new memory be allocated. So, put that inside the constructor.

[2016-12-26 14:25] jrslagle commented on #46
@Master-Foo, we can always move data members around for mutability if we need to. I don't expect Boehmite to ever need to be written to.

[2016-12-26 14:31] jrslagle commented on #46
Oh, I think I misread your question about composition.

Composition is not a mineral or rock, it's a data type. Every chemical and rock type have a composition as a data member. The composition describes what that rock type is composed of in terms of percentages for each chemical.

A composite is a kind of rock made of smaller stones cemented together. Bauxite is a composite yes, but I'm treating

[2016-12-26 14:36] jrslagle commented on #46
Basically I replaced your chemicals[, ] with composition[(,), (,)]

[2016-12-26 15:28] jrslagle commented on #46
@Master-Foo, while I'm on this topic it might be good to let you know my plan for composition. I want EVERY in game entity to have a composition. Meaning even your avatar could jump in the refinery and be reduced to elements. Pick up the solar panel and throw it back in or whatever. I want composition to be used widely, so it needs to be written robustly, which I'll probably need you for.

The com

[2016-12-26 20:20] Master-Foo commented on #46
Funny story, when I put the Refinery in game. The first time I activated it, it sucked my Avatar in and crashed the game.

[2016-12-30 07:28] Master-Foo opened #56 "Get aquainted with the Static Noise Package"
So, I created a bare bones Static Noise package.

run ./static_noise.py for an example of how it works.

It's going to be central to almost all areas of the game in one form or another. I built it so it can be applied generically for various tasks.

Right now, there are a lot of improvements to be made. It's kinda buggy. But, for now, just play with it and ask questions. Everyone is going to need

[2016-12-30 07:47] Master-Foo commented on #56
Also, this package requires a few dependencies. Look at ./requirements.txt for an example of those I remembered to add. If others are needed add those to the ./requirements.txt

pulling from memory, (so you might want to double check), you can install dependencies like this:
[code]

[2016-12-30 08:25] Master-Foo commented on #56
I mapped the `p` keyboard key to display the map. You can now bring it up when running ./demo.py

the matplotlib interface blocks the game loop, so it's pretty unreliable. This is only meant for proof of concept purposes.

Maybe it's worth while to work matplotlib into the game itself. But we are going to have to thread it if we do so. For now, it's just for fun.

[2016-12-30 22:09] fishscene opened #57 "Requirements to run have changed"
Seems like the requirements to run the game have changed. Here's what I've been able to determine is needed to run the game:

[code]

What OS's are you guys running? I'll see if I can get a couple of VM's and every so often, check the requirements needed to run the game and update the front-page. I'm not really a programmer/coder, but this seems like something I can do.
If I don't hear back in a c

[2016-12-30 22:49] jrslagle commented on #56
OMG OMG OMG....!

[2016-12-30 23:20] fishscene commented on #52
The file:
source/abstract/entities/inanimate/electronic/animation_config/stand.py

This file has:
`"entity_name" : "avatar",`
Should it be?:
`"entity_name" : "electronic",`

I was attempting a shot at https://github.com/Master-Foo/game/issues/51 by replicating the changes made here, but for plants and ran across this. I also noticed when running the game the Avatar either stands still or walks in

[2016-12-31 01:46] Master-Foo commented on #57
That is probably a result of my commit last night for the Solid Noise package. (It's cool check it out). There is a ./requirements.txt file in root which **should** (but probably doesn't) have all the required python libraries inside of it. If anything is missing, add it to the file.

I try to add libraries to the ./requirements.txt when I become aware of them, but a lot of these libraries are alr

[2016-12-31 02:04] Master-Foo commented on #52
Ideally, there should be a "generic" graphic for all electronic objects that we can use to display it. Even if there is no graphic for, say, a toaster, at least we have a fall-back graphic.

I'm not too concerned that the "default" is the same as the avatar because displaying the avatar is better than nothing. But if someone wants to take the time to make a generic electronic graphic, that's fine.

[2016-12-31 17:51] jrslagle commented on #46
@Master-Foo, which inheritance level do you think mass should go in? Entity? Should we do something like

Base-object/Entity/Tangeable/Inanimate

And put mass on Tangeable? Since gases would be entities but not have buoyant mass.

[2016-12-31 19:22] fishscene commented on #57
No worries. I classify myself as a "Linux enthusiast" and am most familiar with Ubuntu.
I have no problem tracking requirements to get the game running on different platforms, although for some reason, I'm having significant difficulty on my Mac with a possibly borked Python install. (again, after I fixed it with Jimmy)

I ran "sudo pip install -r ./requirements.txt" on Ubuntu 16.10 x64 and there'

[2016-12-31 20:54] jrslagle commented on #57
I'm running Arch Linux, and so is @techwulf. We install stuff like
sudo pacman -S vim
pacman is our package manager, and -S is install. That would be cool if you were able to determine requirements. I'm going to take notes as I get the solid noise package working, so I'll let you know.

[2016-12-31 22:43] Master-Foo commented on #46
Tangible is probably fine

[2016-12-31 22:48] #57 closed

[2016-12-31 22:55] jrslagle opened #60 "Fix can't move bug"
As of commit
[code]
I have these issues.

-mining generates a rock at 0,0 in the corner.
-walking in any direction uses the walk-north animation and the avatar doesn't translate.
-running in any direction uses the run-north animation and the avatar doesn't translate.
-the battery doesn't charge.
-the plants still grow.

These bugs don't exist in the commit before it:
[code]
I'm still narrowing thi

[2016-12-31 22:59] jrslagle commented on #60
K, I found out that as of
[code]
The mined rock has always flashed up at the upper left corner before translating to you.

[2016-12-31 23:35] Master-Foo commented on #60
Avatar and Homestead's loop wasn't being called. All this nonsense because somehow I forgot to commit two lines of code. LOL

Anyway. I'll take the blame for this one. It should be fixed now.

[2017-01-01 00:05] jrslagle opened #62 "Mined rock appears at top left corner for first frame."

[2017-01-01 12:51] Master-Foo opened #66 "Major Code Cleanup"
This is important info, so everyone reply so I know you've grokked this fully.

OK, so I decided to stop being a hypocrite and clean up my messes. The overall structure of the program is mostly clean. So, now when someone submits code that isn't structurally sound I won't feel guilty for not leading by example.

As a result, the directory structure and MVC paradigm shouldn't change too much for th

[2017-01-01 12:54] Master-Foo commented on #66
Oh, yeah. Shouldn't have to say this, but with a change like this, it's probably best to do a pull before committing any code. (You should be doing a pull before every commit anyway because that's how you prevent commit conflicts)

[2017-01-01 13:45] Master-Foo commented on #66
@jrslagle FYI: according to this [commit log](https://github.com/Master-Foo/game/commit/4f35516bac7550075baf2ceb5ae28ebd815236b0)

**361 changed files with 1,846 additions and 291 deletions. **

I did this in about 3ish hours. Don't take my word when I say that breaking files up won't slow you down. Here's proof. Just use the correct tools. Extrapolate that data out to the Elements and you have le

[2017-01-02 00:56] fishscene commented on #23
I ran across this:
http://www.worldofleveldesign.com/categories/level_design_tutorials/recommended-game-engines.php

It provides an overview of a bunch of game engines.

I also wanted to point out this video concerning planetary procedural generation:
https://www.youtube.com/watch?v=XuDj5v81Nd0 (Timecode 1 hour, 57 minutes), where they go over a bit of the planetary tech they are using for this ga

[2017-01-02 05:05] jrslagle commented on #66
@Master-Foo, yea I'm still not sure where to even start when it comes to splitting a file into 95 pieces. I'm still discovering new features all the time though.

Sounds like a plan. I picked through your new layout and it's all very logical. I've been meaning to find an MVC conventions reference (to head off some annoying questions), but most things I can think to add fit nicely into the structur

[2017-01-02 05:06] #62 closed

[2017-01-02 05:07] jrslagle commented on #56
I tried it out and read over your script. Seems pretty straight forward. I look forward to seeing what this can do for mineral distribution.

[2017-01-02 05:18] jrslagle commented on #26
@Master-Foo, do you know if the tiles are still rechosen every frame, or every meter moved? If every frame, I'd like to make an issue for it and close this one out.

[2017-01-02 05:39] fishscene commented on #18
I don't recall seeing this issue. Probably not worth our time tracking down unless we see this again. Fine with me if we close, but let's double check with the original poster.

[2017-01-02 05:42] Master-Foo commented on #66
There isn't any one "true" MVC convention. Every framework is going to have different ways of implementing MVC. All MVC is, is "break code up logically into different skill sets.". So, learning RoR, or Django's conventions could be useful, but even they differ from each other.

As for breaking the files up. It's just a matter of the tool you use. I use Sublime Text. It's like vim, but not annoying

[2017-01-02 05:45] Master-Foo commented on #18
This stopped happening on my machine. I suspect it was fixed when I updated the tiles so they don't animate.

[2017-01-02 05:45] #18 closed

[2017-01-02 05:50] Master-Foo commented on #26
It's still chosen every frame. But, as I said before, that isn't the reason why CPU gets maxed out. It gets maxed out because the gameloop itself will use up all the CPU it can.

If you want confirmation, run this script.

[code]

This does nothing complicated, but will still consume your entire CPU.

[2017-01-02 05:50] #26 closed

[2017-01-02 06:07] jrslagle commented on #23
@fishscene, that terrain generation and flying in and out of the planet was awesome! But yea, that's what 360 developers gets you.

[2017-01-04 00:22] Master-Foo opened #67 "Build Workflow"
So, I finally got around to implementing the build workflow in-game.

It works with some things that still need to be done. Right now, just to get proof of concept working, It makes a rock.

So, basically, you put a rock into the replicator and you get the same rock out.

How to do it:
1. Put a rock on the left ? box (the refinery)
1. Press `a` (for activate)
1. The rock is replicated on the right

[2017-01-04 00:48] Master-Foo opened #68 "Add Compositions To All Entities"
When you put a `Plant` int the `Refinery` the system crashes because `Plant` has no composition. Same probably happens with `SolarPanel` and other entities

[2017-01-04 04:33] jrslagle commented on #2
@Master-Foo

K. I've got one person working on concept art, and another up for modeling him/her.

Were you thinking something more silly, realistic, futuristic? The head to body ratio says a lot. I've been imagining a character more like a chibi toon, like a kid with a huge head. I'm up for a lot of art styles - Borderlands, Diablo 3, Final Fantasy 7 cinematics, FF9. But now's the time to talk abo

[2017-01-04 05:11] jrslagle commented on #2
https://goo.gl/photos/3SogYXT252LaLBFH6

[2017-01-04 05:14] jrslagle commented on #2
I asked if she could make the helmet look more like a motorcycle helmet. But I'm generally on board with the wet suit and armor idea.

[2017-01-04 05:52] jrslagle commented on #2
Here's an example of her style.

https://goo.gl/photos/P3KChCSP662xnWbb6

[2017-01-04 06:03] Master-Foo commented on #2
If someone wants to do the art, I'm pretty generous with letting them do what they want to do.

The famous "Joshua Maxim" is "The person who gets shit done decides how shit gets done." Serious, the "Joshua Maxim" is a real thing, it's a term Blake invented. Verify with @techwulf.

I suppose if I were to have any wishes on how it gets done. It's to "Keep it Simple". That much should be pretty obvio

[2017-01-04 06:20] jrslagle commented on #68
So despite trying, I can't figure out how to put anything in the refinery.

[2017-01-04 06:26] jrslagle commented on #67
Roger.

[2017-01-04 23:53] jrslagle opened #69 "Error: pygame.image.load() doesn't exist"
Both Tom and I are having this issue. The game won't run. If we figure it out, I'll post the fix.

[code]

What I've figured out so far:
that line: `fra = pygame.image.load(tmp_frame).convert_alpha()` was exactly the same on working versions, so it's not a change we did.

pygame.image.load() should be located in
/home/jrslagle/.PyCharmCE2016.3/system/python_stubs/-1247972723/pygame/imageext.py
but

[2017-01-05 01:00] techwulf commented on #69
Alright issue #69 ha ha.

[2017-01-05 01:18] Master-Foo commented on #69
I haven't gone down the rabbit hole to figure this out, however, here is my suspicion...

`pygame.error: Couldn't open resources/images/rock/animations/stand/north/000.png`

most likely means pygame's `load()` is trying to find that file, but when it looks in that location, it doesn't exist.

The recent code restructure I did last weekend could have been the culprit because I moved the executables

[2017-01-05 01:24] Master-Foo commented on #69
OK, I just did a sanity check to confirm my suspicions by running `./demo.py` **inside** the demo directory. Here is the results.

[code]

So, I'm pretty confident that you guys are **not** executing from the root directory.

BTW: I already explained this in detail in: **Major Code Cleanup #66** which everyone should have read already because I assigned it to everyone and stated it's importance th

[2017-01-05 02:27] jrslagle commented on #69
Yep, that was the problem. Tom also navigates right to the file before executing.

And I did read that entire explanation of project structure.

[2017-01-05 03:02] jrslagle commented on #2
I got about 40% through this on Dec-10. And if anyone wants to take up the torch, @techwulf. I recommend replicating this tutorial. It'll give us animations of a naked person running around. It shows you how to put motion capture data onto make human models in blender. All free plug and play.

Easy Walk Animation with Blender and Makehuman
https://www.youtube.com/watch?v=2hylWVut7z0

His link to t

[2017-01-05 21:37] jrslagle commented on #67
I'm going to be focusing on this today. So no one make rebasing difficult for me for the next couple hours. *glare*

[2017-01-06 22:33] jrslagle commented on #67
@Master-Foo, can we delete build_workflow.py at this point? I'm trying to keep both it and the game running bug free. But at this point, build_workflow throws an error because refine_mineral() tries to delete rock from a world that doesn't exist. I'm tempted to just say, you know what, build_workflow has been integrated into the game at this point, and can be scrapped.

[2017-01-06 23:54] Master-Foo commented on #67
Leave it until I get Unit Tests up and going at least.

I'd say we should keep it permanently, because it serves as a simplistic form to demonstrate the build workflow without everything else to confuse someone who is trying to learn how the Build Workflow is supposed to work. So, think of it as "Interactive Documentation"

I'll make a fix for the `build_workflow.py`

[2017-01-07 00:17] Master-Foo commented on #67
I updated `./demo/build_workflow.py` so it should now work.

Basically, the logistics system expects to be in a location with `entities = []`. So, I made a class that inherits from the abstract location model. It remains a simplistic example without the overhead of the whole game to confuse someone trying to learn.

[2017-01-07 01:44] jrslagle commented on #67
On sweet, I see what you did. But now the game is throwing a weird error when I refine a mined rock.

  File "/home/jrslagle/Code/TerraCraft/game/source/abstract/entities/entity/model/model.py", line 44, in get_collisions
    for entity in self.parent.entities:
AttributeError: Logistics instance has no attribute 'entities'

[2017-01-07 01:56] Master-Foo commented on #67
I'm working on the physics engine right now. I'll check it out. Probably something stupid. Check back in a couple of minutes.

[2017-01-07 01:57] jrslagle commented on #67
I'll see if I can figure it out while you're away.

[2017-01-07 01:57] jrslagle commented on #67
Other than this, I'm ready to pull request. Got lots done.

[2017-01-07 02:11] Master-Foo commented on #67
OK, I believe I have fixed it. Logistics was inheriting from inanimate instead of location. Whoever did that was a fucking moron. It was probably me. So, pointing my finger at myself here.

Anyway, do a pull. Get the new code. Test it out with what you've done.

[2017-01-07 03:24] jrslagle commented on #67
Yep, that fixed it. There's other bugs I'm working though.

[2017-01-07 03:33] Master-Foo commented on #67
When you are ready to do a pull request. Don't push directly to this project. Push to your own forked project. I'll check it out there. When that is approved, we can push your fork to this project.

[2017-01-07 03:51] jrslagle commented on #67
Read that too late. Check out my branch.

https://github.com/jrslagle/game/tree/workflow

[2017-01-07 03:52] Master-Foo commented on #67
I'll look at it now.

[2017-01-07 04:03] Master-Foo commented on #67
Yeah, I don't have much to complain about on that one. Do a pull request and, provided that are no conflicts, I'll accept.

[2017-01-07 04:05] Master-Foo commented on #67
Next, try making something other than a rock.

[2017-01-07 04:13] Master-Foo commented on #67
Never mind. I found your closed pull request. I merged that.

[2017-01-07 04:49] jrslagle commented on #67
Yep. My next goal is to make a solar panel from several rocks. Just wanted to get this in first.

[2017-01-07 04:49] jrslagle commented on #67
You sure there's nothing to complain about?

[2017-01-07 05:06] Master-Foo commented on #67
OK, If you want me to nitpick... I stuck it in Yo' Momma's pooper last night and now my dick has a rash.

[2017-01-08 01:05] jrslagle commented on #67
What's left before we close this issue?

- [ ] get replicator to make and place a solar panel.
- [ ] if something doesn't have a composition, don't refine it.
- [ ] be able to refine corn, tomato, potato, turnip.
- [ ] add a drop down menu for choosing what to build.

[2017-01-08 01:31] Master-Foo commented on #67
As far as I'm concerned, this issue is complete, so, I'm going to close it.

The things you've listed should probably be issues of their own. So, go ahead and make those issues.

As far as the "Drop Down Menu", I'm holding off on UI widgets until we decide on an engine other than Pygame, because that engine will probably have UI widgets built in to it for us to use. So, making a UI is a lot of wor

[2017-01-08 01:31] #67 closed

[2017-01-08 07:27] jrslagle commented on #67
Cool cool. I have lots I'm already assigned and a lot of ideas along those lines too.

[2017-01-08 07:41] jrslagle commented on #67
@Master-Foo, @fishscene, @techwulf
As an FYI, the real world unit I decided to settle on for rocks and their chemical makeup is mass in kilograms. This way the masses of every object is just there for our physics engine to use. All objects have a mass (the Rock is 100 kg of Bauxite or Ice). The elemental storage units store material in kg. And the replicator produces an object weighing a mass in k

[2017-01-08 07:58] Master-Foo commented on #67
@jrslagle I'm not sure if you want to go down this rabbit hole right now. But as of yesterday and partly today, I added volumetric attributes to all Entities. Right now everything is... wait for it... a sphere.

But anyway, it should be possible to dynamically calculate how much mass something has based on it's geometry type. So, instead of saying "This is a 100 kg rock" we **should** be saying "T

[2017-01-08 09:49] Master-Foo opened #75 "Collisions FYI"
Important info. Everyone read.

I have implemented a collision detection system. I don't expect everyone to know it in detail, so here is the relevant info so you don't need to dig through the code to find out what is going on.

1. All Entities have a 3d volumetric body. It is a sphere.
1. For testing purposes, a circle is drawn around the entities to determine collision boundaries. If two circles

[2017-01-09 03:08] jrslagle commented on #52
I figured out why the refinery and such wouldn't render when their view objects imported from electronic.view. It was because electronic.view had an empty on_render() method that was overriding entity.view.on_render().

Works now!

[2017-01-09 04:17] Master-Foo commented on #52
Cool. BTW. I'm in the process of removing the `ElementalStorageUnit` from the game. Basically, it just serves as a book-keeping device which should be handled by `Logistics` and it doesn't really need to be an `Entity`. `Logistics` will now have the functionality of the `ESU`. Otherwise, everything works the same. We just don't need to worry about the `ESU`.

Also, I'm mulling around the idea of c

[2017-01-09 04:17] #52 closed

[2017-01-09 05:01] jrslagle commented on #68
Should I add a default material to Rock? or should I leave it as None so that it throws an error instead of getting magical Bauxite and having to track down where the hell this mystery Bauxite is coming from?

`def __init__(self, parent, mass = 100, material = None):`
or
`def __init__(self, parent, mass = 100, material = Bauxite):`

[2017-01-09 05:15] Master-Foo commented on #68
As a general rule, you should be passing as little information into `__init__()` as possible. So, I'd say, make `Bauxite` a non-passible default for now. If it needs to be changed to something else we can always: `rock.material = SomethingElse`

Also, make `mass` a non-passible default as well.

[code]

the value for `mass` should be dynamically generated from the volume of the object anyway now t

[2017-01-09 05:55] Master-Foo commented on #51
@jrslagle I pushed an example of moving Corn's on_render into Plant. You should be able to use the same logic in other plants as I did in Corn.

One thing I'm not sure will work... Some plants have more Growth States than others. For instance, Corn and Tomato have one more than Turnip and Potato. Maybe it's best that we simply remove a growth state from Corn and Tomato so they are all similar. I'm

[2017-01-09 05:58] jrslagle opened #81 "Hold Action Bugs"
- [ ] you can spam mine and be holding a ton of rocks, and then have to hit Return twice to put them down.
- [ ] hitting A over the refinery while holding the rock sucks it out of your hand, but Avatar is still holding something (you have to hit Return twice to pick something new up)

[2017-01-09 06:07] jrslagle commented on #50
As far as dynamically calculating mass, I did make a method for updating the mass of the esu whenever anything was added or removed. All the mass changes I can think of are event driven.

As far as using geometry, the equation would be mass = volume * density. Density should be a property of a material. And all Entities should have a material and volume from geometry.

Is that what you were thinki

[2017-01-09 06:17] Master-Foo commented on #50
Sounds good to me.

[2017-01-09 06:42] jrslagle commented on #49
I currently have this bug on my gravity branch, and I'm not sure how self.get_planet() got to returning Homestead.

https://github.com/jrslagle/game/tree/gravity

File "/home/jrslagle/Code/TerraCraft/game/source/abstract/entities/entity/model/model.py", line 93, in get_hectare
hect = self.get_kilometer().hectares[0][0]
File "/home/jrslagle/Code/TerraCraft/game/source/abstract/entities/entity/model

[2017-01-09 22:34] jrslagle commented on #67
K cool. I like it with the exception where the replicator needs to spit out x kg of a waste material. Then the replicator will have to decide what volume to generate.

[2017-01-09 23:10] Master-Foo commented on #67
Right now I'm not too concerned with waste material. I mean, the Refinery, Tanks, and Replicator are basically technology indistinguishable from magic. So, if we can suspend disbelief to use them, we can suspend disbelief about where waste goes and how it is generated.

In the future, I see us ditching the Refinery -> Replicator system in favor of a more realistic chain of logistics, but a realist

[2017-01-10 02:09] Master-Foo commented on #49
My latest push has solved the problem you are dealing with. Any Entity can find the planet they exist on regardless of where they exist in the datastructure by doing:
[code]
So, you can get a planet's gravitational constant by doing something like this.
[code]

[2017-01-10 22:12] jrslagle commented on #49
Sweet!

[2017-01-10 22:14] jrslagle commented on #49
So I was wondering why you did this in Entity model.

[code]

and then translate() contains:
`self.position += self.speed()`

Doesn't that reset the speed to 0 every frame? Was this just a placeholder I can change that for the sake of inertia?

[2017-01-10 22:47] Master-Foo commented on #49
Look at /source/abstract/entities/animate/model/model.py for your answer

[2017-01-11 01:20] Master-Foo commented on #49
OK, I was busy before and couldn't spend time on a proper explanation. But, I have some time now, so, I'll elaborate.

Speed can loosely be defined as "The sum of all velocity vectors acting on an object" So for instance, If I'm walking forward at 1 km/h and the wind is blowing in the opposite direction at 0.5 km/h the math would look something like this:
[code]
So, the purpose of `def speed()` is

[2017-01-11 07:33] jrslagle commented on #49
Ok. So speed is supposed to add up all component forces on Entity and return its new velocity.

[2017-01-11 07:35] #51 closed

[2017-01-11 07:47] jrslagle commented on #53
@Master-Foo
So... I'm okay with doing this game in 2.5 D. And I mean a 45* angle view with sprites for graphics - like StarCraft. I don't see losing any functionality, and it really cuts down on the needed work - code and art.

Things that I think would still be 3D are jumping and physics. Terrain and elevation. The models used to make rotated views of Animate's sprites. And that's it?

[2017-01-12 00:18] Master-Foo commented on #53
In the long term going 3D is going to save us work. Why? Because when you create new actions and animations with sprites, you need to create each frame from scratch, whereas with 3D, you can just use the same model and just add an animation script to it.

Likewise, if you have multiple characters, like NPCs or other players you need to make all those actions and animations from scratch for them fr

[2017-01-12 03:01] jrslagle commented on #53
You're right, the art we get should be the deciding factor on HOW 3D we get. And yea, no matter what, we're going to need 3D models of anything animated or rotatable just to create the sprites.

I've been toying with the idea of diving into Blender these last couple days. I haven't yet because I also have tasks assigned I don't want to neglect. Also, what I want to get out of this project is progr

[2017-01-12 04:56] jrslagle commented on #49
K, I have a version of the gravity thing I think you'll like *fingers crossed*, but all the get location methods in Entity are broken. Basically Homestead is Entity's parent, and these don't have get_"location" methods. And I'm on a wild goose chase trying to figure out what call structure you intended.

[2017-01-12 05:24] Master-Foo commented on #49
the `get_location()` methods are kind of a mess right now. It's something I'm working on. So, don't expect them to work.

The `get_planet()` should work so, you can at least use that to get the planet's gravitational constant. If you need to `get_tile()` it's probably because you want to get it's z position, right? For now, just use the value `0` and put a TODO note next to it, we can come back to

[2017-01-14 00:30] jrslagle commented on #49
Alright, I patched things over without .get_tile(). Mining also crashed the game without .get_tile, so I hacked that together by going Tile().mine_ore(). I remember mining used to turn a tile to dirt, but on upstream, mining just crashes the game.

[2017-01-14 02:28] Master-Foo commented on #49
Put a reminder somewhere to come back and get the actual tile. I'm working on a Entity-Component system which will allow us to search the game's datastructure for pretty much anything that exists (Tiles, Planets, Entites, whatever) much more reliably and effieciently than what we have now. It's a bit complicated. It will probably take me a few more days. But afterwards, the system will be much mor

[2017-01-14 06:28] jrslagle commented on #49
I pushed it to my gravity branch if you want to pull that.

[2017-01-14 06:39] Master-Foo commented on #49
I'll take a look at it tomorrow.

[2017-01-15 00:11] Master-Foo commented on #49
I took a look at it. The only thing I saw which was a problem was that the run animation doesn't work anymore. Fix that and then do a pull request and I'll probably accept.

[2017-01-18 01:33] Master-Foo commented on #49
My latest commit solves the problem of getting tiles and such.

I removed `get_nearest_item()` from `Human` and moved it to `EntityManager`. I also made it more generic, so you can make more generic queries.

So, for instance, to get the tile the Avatar, or any other entity, is on, you can do this:
[code]

[2017-03-13 01:19] jrslagle opened #85 "Make crops harvestable"
When you're standing over a mature plant, picking up the plant will delete it and make you pick up a picked version. If you pick up an immature plant, then you are holding the damaged version.

[2017-03-13 01:29] jrslagle opened #86 "Mine the tile you're most centered on."
It looks really strange to mine the tile to the east of you. Instead, mine the tile with the smallest center-to-center distance from you.

[2017-03-13 01:30] jrslagle opened #87 "Fix the battery charging at an accelerating rate"
The battery charges at an increasing rate as the game runs, making the bulb flash faster and faster.

[2017-03-13 01:47] jrslagle opened #88 "Make a start structure"
such as a rectangular box that ghosts when you walk inside it.

(Just the steps I'd take; do what you want.)
-start with an opaque box that lets you walk through the walls
-then paint the building on top of you when it makes sense to.
-then ghost the building when you're occluded (including behind but not inside the building).
-then make the walls collideable.

[2017-03-13 02:06] jrslagle opened #89 "Draft a backstory, game arc, tech tree, and environment by next Sunday (3-19)."
We're all going to draft our own ideas for backstory, game arc, tech tree, and environment and regroup next Sunday. Dream, write, compare & battle.

We'll come out of next sunday with lore and content to add to the game Wiki.

Then we can create concrete entities from the Wiki.

[2017-03-13 03:26] Master-Foo commented on #89
This is a good video series to watch. It shows how this guy pretty much starts from nothing but sticks and rocks and quickly builds himself up to a very simplistic "Iron Age" "civilization".

https://www.youtube.com/channel/UCAL3JXZSzSm8AlZyD3nQdBA

[2017-03-13 05:21] rschum opened #90 "having trouble running the game on windows 7"
is it a windows file path problem?

C:\Users\Richard\repositories\Master-Foo\game>C:\Python27\python.exe demo\demo.py
Traceback (most recent call last):
  File "demo\demo.py", line 6, in <module>   from source.systems.game import game
  File "C:\Users\Richard\repositories\Master-Foo\game\source\systems\game\game.py", line 2, in <module>  from model import model
  File "C:\Users\Richard\repositorie

[2017-03-13 06:21] Master-Foo commented on #90
First, you need to be inside the game directory (which it looks like you are so that's probably not the problem, just an FYI)

Next, try the following:

[code]
or
[code]
or
[code]

[2017-03-13 06:43] rschum commented on #90
C:\Users\Richard\repositories\game>.\run
'.\run' is not recognized as an internal or external command,
operable program or batch file.

C:\Users\Richard\repositories\game>python
'python' is not recognized as an internal or external command,
operable program or batch file.

so I have to specify the full path to python...
--------------
.C:\Users\Richard\repositories\game>C:\Python27\python.exe .\ru

[2017-03-13 06:48] rschum commented on #90
same problems when I translate to bash:

Richard@Richard-HP MINGW64 ~/repositories/game (master)
$ /c/python27/python.exe ./run
  File "./run", line 5
    ./demo/demo.py
    ^
SyntaxError: invalid syntax

[2017-03-13 06:50] Master-Foo commented on #90
I'll leave the Windows nonsense as a activity you can figure out on your own. But IIRC when you install python in Windows it doesn't get put in your `$PATH`. So, if you add it to `$PATH` you should be able to run normally.

Also, IIRC, when you add something to your `$PATH`, you need to close out your teminal and re-open it.

Also, you may have to execute `.\demo\demo.py` `.\run` is a bash script

[2017-03-13 06:51] Master-Foo commented on #90
In otherwords, reformat your harddrive to get rid of that virus named Windows and reinstall a REAL MAN's OS, AKA Linux.

[2017-03-13 07:49] rschum commented on #90
thank you venerable master

[2017-03-13 23:07] Master-Foo commented on #90
asldkfjasldkjsafjs

[code]

`asdf = 0`

**asdf**

__asdf__

#13

# asdf

## asdf

### asdf

*asdf*

[asdf](asdf.com)

[2017-03-13 23:13] jrslagle commented on #23
@Master-Foo decided all other engines are either too closed source, or don't allow development on Linux. Thus we are staying with PyGame until death.

[2017-03-13 23:13] #23 closed

[2017-03-13 23:26] jrslagle commented on #53
We've settled on front view, square grid, 2.5 D, keeping the view we already have. Switching to a diagonal 2.5 D view would be an undertaking without enough return, and 3D is even more difficult without a dedicated experienced modeler.

Any objects that are tall enough to block the view of the character, should ghost so you can see the avatar.

[2017-03-13 23:26] #53 closed

[2017-03-15 02:54] rschum commented on #90
isn't this the crux of the problem?
while running the 32-bit  python 2.7 with 32-bit version of pygame installed:

1.9.1release

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name math

[2017-03-15 04:26] Master-Foo commented on #90
How did you install `pygame`? Was it with `pip`?

When I run the same commands you listed everything works on my setup. The only difference being that my `pygame` version is `1.9.3` But there shouldn't be a major change between that and `1.9.1`. You **should** have `pygame.math` available if you have `pygame`.

TLDR; Fuck if I know.

Try this. Maybe it will work maybe it wont.

when you run `pytho

[2017-03-15 23:22] rschum commented on #90
thanks, good learning this stuff.
\>\>\> import platform
\>\>\> print platform.python_version()
2.7.13

[2017-03-15 23:27] rschum commented on #90
I found a 64 bit pygame version. I'm wondering if switching to everything to 64 bit might cause other problems?

[2017-03-16 00:27] Master-Foo commented on #90
All I can say is try it.

[2017-03-16 00:35] rschum commented on #90
i've posted on google groups to see if I can get help there. Haven't yet found any issues that are similar enough.

[2017-03-16 03:29] rschum commented on #90
It appears I've got it working.  I believe the problem with pygame math is that you need 1.9.3, 1.9.1release won't work in windows. In your install guide you should get rid of the link
pygame for py2.7 and pygame-sdl4 (32-bit)
    Windows Direct Download of pygame.

this is what worked for me:
install python 2.7 (32bit)
\>pip install --upgrade pip
\>cd <cloned game directory>
\>pip install -r requ

[2017-03-16 03:48] rschum commented on #90
I'll submit suggested changes for README.md on my fork.

[2017-03-16 04:34] #90 closed

[2017-03-18 01:01] Master-Foo commented on #90
I'll show up at Jazzy around 14:00ish on Sunday. If you bring your laptop, I'll show you around the system so you can understand how everything works together.

[2017-03-18 17:22] rschum commented on #90
My laptop is kaput. Will you show me around the system using your laptop?

On Fri, Mar 17, 2017 at 7:01 PM, Master Foo <notifications@github.com>
wrote:

[2017-03-18 21:52] rschum commented on #90
suggested changes for the readme on game repo
https://github.com/rschum/game

[2017-03-27 17:49] jrslagle commented on #85
Worked on this yesterday, and so far I'm going strong. I've made a table for how I want plant states to change with being picked up and change with age in the ground. Haven't done any actual coding yet, so the worst is still to come.